body {
    font-family: 'Shadows Into Light', cursive;
    background-color:azure;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.mainHeader {
   color: rgb(125, 152, 181);
   letter-spacing: 2pt;
}

.tableHeader {
    color: rgb(125, 152, 181);
    letter-spacing: 2pt;
}

label {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    letter-spacing: 2pt;
}

th {
    letter-spacing: 2pt;
    font-weight: bolder;
}

tbody {
    color: 6c757d;
}

.taskForm {
    color: #6c757d;
}

.taskUpdateForm {
    color: #6c757d;
}

.footer-text {
    font-style: italic;
    color: rgb(125, 152, 181);
    text-transform: lowercase;
    font-size: small;
}
